[flake8]
max-line-length = 99
ignore =
  # Line break before binary operator - conficts with `black`.
  W503,

statistics = True
select: E,W,F,C,N
exclude:
  venv
  .git
  build
  dist
  *.egg_info
  *.yaml
