# Copyright 2022 Canonical Ltd
# See LICENSE file for licensing details.

options:
  landscape_ppa:
    type: string
    default: "ppa:landscape/self-hosted-24.04"
    description: The PPA from which Landscape Server will be installed.
  landscape_ppa_key:
    type: string
    default: ""
    description: |
      Full ASCII-armoured GPG public key for the Landscape PPA source.
  worker_counts:
    type: int
    default: 2
    description: |
      Number of processes to spawn for message-server and ping-server.
      If set to 0, the charm will automatically pick a value, trying
      to maximize the use of the computer/memory resources available
      on the unit.
  license_file:
    type: string
    default:
    description: |
      License file for Self-Hosted Landscape, either as a
      base64-encoded string containing the actual license file data, or
      a file://, http://, or https:// URL pointing to the license file
      for download.
  openid_provider_url:
    type: string
    default:
    description: |
      OpenID provider URL to use for Landscape Server authentication.
  openid_logout_url:
    type: string
    default:
    description: |
      OpenID provider URL to use to log out of Landscape Server.
  oidc_issuer:
    type: string
    default:
    description: |
      OpenID-Connect issuer URL to use for Landscape Server
      authentication.
  oidc_client_id:
    type: string
    default:
    description: OpenID-Connect client ID.
  oidc_client_secret:
    type: string
    default:
    description: OpenID-Connect client secret.
  oidc_logout_url:
    type: string
    description: |
      OpenID-Connect issuer URL to use to log out of Landscape Servers is.
  root_url:
    type: string
    default:
    description: |
      The root URL for this Landscape deployment. If left blank, the
      public IP of the first related HAProxy unit will be used instead.
  system_email:
    type: string
    default:
    description: |
      The initial email address that Landscape emails will appear to come from.
      Note this value cannot be set more than once.
  admin_email:
    type: string
    default:
    description: |
      The email address of the initial account administrator. Note this value
      cannot be set more than once.
  admin_name:
    type: string
    default:
    description: |
      The full name of the initial account administrator. Note this value
      cannot be set more than once.
  admin_password:
    type: string
    default:
    description: |
      The initial password of the account administrator. Note this value cannot
      be set more than once.
  registration_key:
    type: string
    default:
    description: |
      The initial account registration key. Note this value cannot be set more
      than once.
  smtp_relay_host:
    type: string
    default: ""
    description: The SMTP server used to deliver outgoing mail.
  ssl_cert:
    type: string
    default: "DEFAULT"
    description: |
      The base64-encoded SSL certificate to use for Landscape Server.
      It will be passed verbatim to the HAProxy charm. If not set, a
      self-signed certificate will be used instead.
  ssl_key:
    type: string
    default: ""
    description: |
      The base64-encoded private key for the SSL certificate. If
      ssl-cert is not set, this will be ignored.
  http_proxy:
    type: string
    default:
    description: |
      The HTTP proxy URL Landscape will use. If blank, the model-config
      value will be used.
  https_proxy:
    type: string
    default:
    description: |
      The HTTPS proxy URL Landscape will use. If blank, the
      model-config value will be used.
  no_proxy:
    type: string
    default:
    description: |
      Comma-separated list of hosts for which no proxy should be used.
      If blank, the model-config value will be used.
  site_name:
    type: string
    default: "juju"
    description: A unique site name for the Landscape deployment.
  nagios_context:
    type: string
    default: "juju"
    description: |
      Used by the NRPE subordinate charms. A string that will be
      prepended to the instance name to set the hostname in nagios,
      e.g., juju-myservice-0. If you are running multiple environments
      with the same services in them, this allows you to differentiate
      them.
  nagios_servicegroups:
    type: string
    default:
    description: |
      Comma-separated list of nagios servicegroups. If empty, the
      nagios-context will be used as the servicegroup.
  db_host:
    type: string
    default:
    description: |
      Optionally specify the host instead of getting it from the postgres charm
  db_landscape_password:
    type: string
    default:
    description: |
      Password for landscape user which does normal read/write operations
  db_port:
    type: string
    default:
    description: |
      Optionally specify the db port instead of getting it from the postgres
      charm. Falls back to the default postgres port
  db_schema_user:
    type: string
    default:
    description: |
      Database admin user to perform schema checks and migrations. If not
      provided, the value from the postgres charm is used
  db_schema_password:
    type: string
    default:
    description: |
      Password used by database admin to perform schema checks and 
      migrations. If not set, postgres charm value, followed by
      db_landscape_password is used.
  deployment_mode:
    type: string
    default: standalone
    description: |
      Landscape Server tenancy mode - do not modify unless you are able
      to provide the additional configuration required to run
      Landscape in SaaS mode.
  additional_service_config:
    type: string
    default:
    description: |
      Additional service.conf settings to be merged with the default
      configuration.
  secret_token:
    type: string
    default:
    description: |
      A secret token for the landscape service. If not set one will be
      generated securely.
  min_install:
    type: boolean
    default: False
    description: |
      Does not install recommended packages like hashids to
      to speed up installation process.
  prometheus_scrape_interval:
    type: string
    default: 1m
    description: |
      Used by the Grafana machine agent subordinate charm. The duration between
      Prometheus scrapes. Expects a Prometheus-style <duration> value, e.g., '1h30m5s'.
