terraform.tfvars
.terraform/
*.pem
*.asc
*.tfstate
*.tfstate.*
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
# Normally other charm modules do not include the lock file it seems
.terraform.lock.hcl
