default-base: ubuntu@24.04/stable
applications:
  haproxy:
    charm: haproxy
    channel: 2.8/edge
    revision: 274
    num_units: 1
    to:
    - "0"
    expose: true
    options:
      external-hostname: haproxy.internal
    constraints: arch=amd64
  ping:
    charm: ingress-configurator
    channel: latest/edge
    revision: 34
    num_units: 1
    to:
    - "1"
    constraints: arch=amd64
    options:
      allow-http: true
      paths: /ping
      hostname: haproxy.internal
  repository:
    charm: ingress-configurator
    channel: latest/edge
    revision: 34
    num_units: 1
    to:
    - "1"
    constraints: arch=amd64
    options:
      paths: /repository
      hostname: haproxy.internal
  message-server:
    charm: ingress-configurator
    channel: latest/edge
    revision: 34
    num_units: 1
    to:
    - "1"
    constraints: arch=amd64
    options:
      paths: /message-system,/attachment
      hostname: haproxy.internal
  api:
    charm: ingress-configurator
    channel: latest/edge
    revision: 34
    num_units: 1
    to:
    - "1"
    constraints: arch=amd64
    options:
      paths: /api
      hostname: haproxy.internal
  package-upload:
    charm: ingress-configurator
    channel: latest/edge
    revision: 34
    num_units: 1
    to:
    - "1"
    constraints: arch=amd64
    options:
      paths: /upload
      hostname: haproxy.internal
  appserver:
    charm: ingress-configurator
    channel: latest/edge
    revision: 34
    num_units: 1
    to:
    - "1"
    constraints: arch=amd64
    options:
      paths: /,/hash-id-databases
      hostname: haproxy.internal
  landscape-server:
    charm: ../landscape-server_ubuntu@24.04-amd64.charm
    num_units: 1
    to:
    - "1"
    options:
      enable_hostagent_messenger: true
      enable_ubuntu_installer_attach: true
      landscape_ppa: ppa:landscape/self-hosted-25.10
      min_install: true
    constraints: arch=amd64
  postgresql:
    charm: postgresql
    channel: 14/stable
    revision: 936
    base: ubuntu@22.04/stable
    num_units: 1
    to:
    - "2"
    options:
      experimental_max_connections: 500
      plugin_debversion_enable: true
      plugin_intarray_enable: true
      plugin_ltree_enable: true
      plugin_pg_trgm_enable: true
      plugin_plpython3u_enable: true
    constraints: arch=amd64
    storage:
      pgdata: rootfs,1,1024M
  rabbitmq-server:
    charm: rabbitmq-server
    channel: latest/edge
    revision: 250
    num_units: 1
    to:
    - "3"
    options:
      consumer-timeout: 259200000
    constraints: arch=amd64
  self-signed-certificates:
    charm: self-signed-certificates
    channel: 1/stable
    revision: 317
    num_units: 1
    to:
    - "0"
    constraints: arch=amd64
machines:
  "0":
    constraints: arch=amd64
  "1":
    constraints: arch=amd64
  "2":
    constraints: arch=amd64
    base: ubuntu@22.04/stable
  "3":
    constraints: arch=amd64
relations:
- [landscape-server:inbound-amqp, rabbitmq-server:amqp]
- [landscape-server:outbound-amqp, rabbitmq-server:amqp]
- [landscape-server:database, postgresql:database]
- [ping:haproxy-route, haproxy]
- [repository:haproxy-route, haproxy]
- [message-server:haproxy-route, haproxy]
- [api:haproxy-route, haproxy]
- [package-upload:haproxy-route, haproxy]
- [appserver:haproxy-route, haproxy]
- [haproxy:certificates, self-signed-certificates:certificates]
