<VirtualHost *:80>
    ServerName {{ servername }}
    ServerAdmin webmaster@%{SERVER_NAME}
    DocumentRoot /var/www

    ErrorLog /var/log/apache2/vhost_http_error.log
    CustomLog /var/log/apache2/vhost_http_access.log combined

    # Set a Via header in outbound requests to the proxy, so proxied apps can
    # know who the actual client is
    ProxyVia on
    ProxyTimeout 10

    <Location "/">
        Options -Indexes
        Order allow,deny
        Allow from all
    </Location>
    <Location "/r">
        FileETag none
        ExpiresActive on
        ExpiresDefault "access plus 10 years"
        Header append Cache-Control "public"
    </Location>
    <Location "/repository">
        Options +Indexes
    </Location>

    <Files "*.woff">
        FileETag None
        Header append Cache-Control "max-age=2592000,public"
        Header unset Last-Modified
    </Files>

    RewriteEngine On

    # Pings can always go unencrypted
    RewriteRule ^/ping$ http://{{ haproxy_pingserver }}/ping [P]

    # no [L] flag, otherwise the proxy rule later on won't kick in
    RewriteRule ^/r/([^/]+)/(.*) /$2

    # Temp fix for favicon issue: RT# 42990, bug #685958

    # Map the internal lowercase function so we can use it below.
    RewriteMap lowercase int:tolower
    # Only lookup skin name in cookie value for the favicon.
    RewriteCond %{REQUEST_URI} ^/favicon.ico$
    # If there's a 'skin' selected in the cookie...
    RewriteCond %{HTTP_COOKIE} skin=([^;\ ]+) [OR]
    # Else, use the default skin.
    RewriteCond basic ^(.+)$
    # If the skin name is a valid one...
    RewriteCond ${lowercase:%1} ^(basic|manx)$
    # Then rewrite the url to be relative to the specified skin.
    RewriteRule ^/(.*) /static/skin/%1/$1 [L]

    # The following resources are remote and fine to go over http
    RewriteRule ^/(static.*) http://{{ haproxy_static }}/$1 [P,L]
    RewriteRule ^/(repository.*) http://{{ haproxy_static }}/$1 [P,L]

    # local resources, don't redirect anywhere not even to switch to https
    RewriteCond %{REQUEST_URI} !/server-status
    RewriteCond %{REQUEST_URI} !/icons
    RewriteCond %{REQUEST_URI} !/robots.txt
    # Everything else needs to go over https
    RewriteRule ^/(.*) https://{{ servername }}/$1 [R=permanent]
</VirtualHost>
