<VirtualHost *:443>
    ServerName {{ servername }}
    ServerAdmin webmaster@%{SERVER_NAME}
    DocumentRoot /var/www

    ErrorLog /var/log/apache2/vhost_error.log
    CustomLog /var/log/apache2/vhost_access.log combined

    SSLEngine On
    SSLProxyEngine On
    SSLCertificateFile /etc/ssl/certs/apache2.cert
    SSLCertificateKeyFile /etc/ssl/private/apache2.key

    <Files "*.woff">
        FileETag None
        Header append Cache-Control "max-age=2592000,public"
        Header unset Last-Modified
    </Files>

    ProxyRequests off

    ProxyPreserveHost On
    ProxyPassReverse / http://{{ haproxy_static }}/

    RewriteEngine On

    RewriteRule ^/.*\+\+.* / [F]
    RewriteRule ^/r/([^/]+)/(.*) /$2

    RewriteRule ^/message-system http://{{ haproxy_msgserver }}/++vh++https:%{SERVER_NAME}:443/++/ [P,L]

    RewriteRule ^/ajax http://{{ haproxy_asyncfrontend }}/ [P,L]
    RewriteRule ^/combo http://{{ haproxy_comboloader }}/ [P,L]
    RewriteRule ^/api http://{{ haproxy_apiserver }}/ [P,L]
    RewriteRule ^/attachment/(.*) http://{{ haproxy_static }}/attachment/$1 [P,L]
    RewriteRule ^/upload/(.*) http://{{ haproxy_packageupload }}/$1 [P,L]

    RewriteRule ^/(robots.txt.*) http://{{ haproxy_static }}/$1 [P,L]
    RewriteRule ^/(favicon.ico.*) http://{{ haproxy_static }}/$1 [P,L]
    RewriteRule ^/(static.*) http://{{ haproxy_static }}/$1 [P,L]
    RewriteRule ^/(config.*) http://{{ haproxy_static }}/$1 [P,L]
    RewriteRule ^/(hash-id-databases.*) http://{{ haproxy_static }}/$1 [P,L]
    RewriteRule ^/(icons.*) http://{{ haproxy_static }}/$1 [P,L]
    RewriteRule ^/(repository.*) http://{{ haproxy_static }}/$1 [P,L]

    RewriteRule ^/(.*) http://{{ haproxy_appserver }}/++vh++https:%{SERVER_NAME}:443/++/$1 [P]

</VirtualHost>
