global
{% for option in global_options %}
    {{ option }}
{% endfor %}

    tune.ssl.default-dh-param 2048
    ssl-default-bind-ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:!DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:!DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:!CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA
    ssl-default-bind-options no-tlsv10

defaults
{% for option in default_options %}
    {{ option }}
{% endfor %}

    {% for status, filename in error_files.items() %}
    errorfile {{ status }} {{ error_files_root }}/{{ filename }}
    {% endfor %}

frontend landscape-http
    bind [::]:{{ http_service.service_port }} v4v6
{% for option in http_service.service_options %}
    {{ option }}
{% endfor %}

    {% if redirect_directive %}
    {{ redirect_directive }}
    {% endif %}

    default_backend landscape-http-appserver

frontend landscape-https
    bind [::]:{{ https_service.service_port }} v4v6 ssl crt {{ ssl_cert_path }}
{% for option in https_service.service_options %}
    {{ option }}
{% endfor %}

    default_backend landscape-https-appserver

{% if enable_hostagent_messenger %}
frontend landscape-grpc
    bind [::]:{{ grpc_service.service_port }} v4v6 proto h2 ssl crt {{ ssl_cert_path }}
{% for option in grpc_service.service_options %}
    {{ option }}
{% endfor %}

    default_backend landscape-grpc-backend
{% endif %}

{% if enable_ubuntu_installer_attach %}
frontend landscape-ubuntu-installer-attach
    bind [::]:{{ ubuntu_installer_attach_service.service_port }} v4v6 proto h2 ssl crt {{ ssl_cert_path }}
{% for option in ubuntu_installer_attach_service.service_options %}
    {{ option }}
{% endfor %}

    default_backend landscape-ubuntu-installer-attach-backend
{% endif %}

backend landscape-http-appserver
    mode http
    timeout server {{ default_server_timeout }}
    {% for ip in peer_ips %}
    {% for i in range(worker_counts) %}
    server appserver-{{ ip | replace('.', '-') }}-{{ i }} {{ ip }}:{{ ports['appserver'] + i }} {{ default_server_options }}
    {% endfor %}
    {% endfor %}

backend landscape-http-ping
    mode http
    timeout server {{ default_server_timeout }}
    {% for ip in peer_ips %}
    {% for i in range(worker_counts) %}
    server pingserver-{{ ip | replace('.', '-') }}-{{ i }} {{ ip }}:{{ ports['pingserver'] + i }} {{ default_server_options }}
    {% endfor %}
    {% endfor %}

backend landscape-http-message
    mode http
    timeout server {{ default_server_timeout }}
    {% for ip in peer_ips %}
    {% for i in range(worker_counts) %}
    server message-{{ ip | replace('.', '-') }}-{{ i }} {{ ip }}:{{ ports['message-server'] + i }} {{ default_server_options }}
    {% endfor %}
    {% endfor %}

backend landscape-http-api
    mode http
    timeout server {{ default_server_timeout }}
    {% for ip in peer_ips %}
    {% for i in range(worker_counts) %}
    server api-{{ ip | replace('.', '-') }}-{{ i }} {{ ip }}:{{ ports['api'] + i }} {{ default_server_options }}
    {% endfor %}
    {% endfor %}

backend landscape-https-appserver
    mode http
    timeout server {{ default_server_timeout }}
    {% for ip in peer_ips %}
    {% for i in range(worker_counts) %}
    server appserver-{{ ip | replace('.', '-') }}-{{ i }} {{ ip }}:{{ ports['appserver'] + i }} {{ default_server_options }}
    {% endfor %}
    {% endfor %}

backend landscape-https-ping
    mode http
    timeout server {{ default_server_timeout }}
    {% for ip in peer_ips %}
    {% for i in range(worker_counts) %}
    server pingserver-{{ ip | replace('.', '-') }}-{{ i }} {{ ip }}:{{ ports['pingserver'] + i }} {{ default_server_options }}
    {% endfor %}
    {% endfor %}

backend landscape-https-message
    mode http
    timeout server {{ default_server_timeout }}
    {% for ip in peer_ips %}
    {% for i in range(worker_counts) %}
    server message-{{ ip | replace('.', '-') }}-{{ i }} {{ ip }}:{{ ports['message-server'] + i }} {{ default_server_options }}
    {% endfor %}
    {% endfor %}

backend landscape-https-api
    mode http
    timeout server {{ default_server_timeout }}
    {% for ip in peer_ips %}
    {% for i in range(worker_counts) %}
    server api-{{ ip | replace('.', '-') }}-{{ i }} {{ ip }}:{{ ports['api'] + i }} {{ default_server_options }}
    {% endfor %}
    {% endfor %}

backend landscape-http-package-upload
    mode http
    timeout server {{ default_server_timeout }}
    server package-upload-0 {{ leader_address }}:{{ ports['package-upload'] }} {{ default_server_options }}

backend landscape-http-hashid-databases
    mode http
    timeout server {{ default_server_timeout }}
    {% for i in range(worker_counts) %}
    server appserver-leader-{{ i }} {{ leader_address }}:{{ ports['appserver'] + i }} {{ default_server_options }}
    {% endfor %}

backend landscape-https-package-upload
    mode http
    timeout server {{ default_server_timeout }}
    server package-upload-0 {{ leader_address }}:{{ ports['package-upload'] }} {{ default_server_options }}

backend landscape-https-hashid-databases
    mode http
    timeout server {{ default_server_timeout }}
    {% for i in range(worker_counts) %}
    server appserver-leader-{{ i }} {{ leader_address }}:{{ ports['appserver'] + i }} {{ default_server_options }}
    {% endfor %}

{% if enable_hostagent_messenger %}
backend landscape-grpc-backend
    mode http
    {% for ip in peer_ips %}
    server hostagent-{{ ip | replace('.', '-') }}-0 {{ ip }}:{{ ports['hostagent-messenger'] }} {{ grpc_service.server_options }} {{ default_server_options }}
    {% endfor %}
{% endif %}

{% if enable_ubuntu_installer_attach %}
backend landscape-ubuntu-installer-attach-backend
    mode http
    {% for ip in peer_ips %}
    server ubuntu-installer-attach-{{ ip | replace('.', '-') }}-0 {{ ip }}:{{ ports['ubuntu-installer-attach'] }} {{ ubuntu_installer_attach_service.server_options }} {{ default_server_options }}
    {% endfor %}
{% endif %}
