name: Update Terraform documentation

on:
    workflow_dispatch:
    pull_request:
    push:
        branches:
            - main

jobs:
    charm-module-docs:
        name: Update Terraform documentation (charm)

        uses: canonical/operator-workflows/.github/workflows/generate_terraform_docs.yaml@main
        secrets: inherit
        with:
            terraform-directory: terraform/charm

    product-module-docs:
        name: Update Terraform documentation (product)

        uses: canonical/operator-workflows/.github/workflows/generate_terraform_docs.yaml@main
        secrets: inherit
        with:
            terraform-directory: terraform/product/modules/landscape-scalable
